/* Общие стили */
body {
  margin: 0;
  color: #444444;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Шапка */
header {
  background-color: #f9f9f9;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #d1d1d1;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  font-size: 18px;
  font-weight: 500;
}

nav a:hover {
  color: #007bff;
}

header h1 {
  font-size: 48px;
  margin: 0;
  text-transform: uppercase;
}

/* Основной контент */
main {
  padding: 50px;
}

section {
  margin-bottom: 50px;
}

section h2 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

section p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section ul li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

section a {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out;
}

section a:hover {
  background-color: #0062cc;
}

/* Подвал */
footer {
  background-color: #f9f9f9;
  color: #444444;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #d1d1d1;
}
