{% extends 'userprofile/base.html' %}



{% block title %} Профиль {% endblock %}
{% block propusk %}


<section id="pricing" class="pricing sections-bg">

        <div class="row g-4 py-lg-5" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item featured">

              <ul>
                <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
              </ul>


            </div>
          </div><!-- End Pricing Item -->


        </div>

      </div>
</section>





{% endblock %}
