{% extends 'home/base.html' %}


{% block title %} Главная страница {% endblock %}

{% block propusk %}


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container position-relative">
      <div class="row gy-5" data-aos="fade-in">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
          <h2>Добро пожаловать!<span></span></h2>
          <p>Ваш путь к миру программирования начинается здесь! Мы - ваш надежный партнер в мире программирования на Python. Если вы хотите освоить этот мощный инструмент и стать опытным разработчиком, вы находитесь в нужном месте. Узнайте, почему наши курсы стали выбором для тысяч студентов по всему миру. </p>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <img src="static/home/images/hero-img.svg" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100">
        </div>
      </div>
    </div>

    <div class="icon-boxes position-relative">
      <div class="container position-relative">
        <div class="row gy-4 mt-5">

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-easel"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Lorem Ipsum</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-gem"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Sed ut perspiciatis</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-geo-alt"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Magni Dolores</a></h4>
            </div>
          </div><!--End Icon Box -->

          <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-command"></i></div>
              <h4 class="title"><a href="" class="stretched-link">Nemo Enim</a></h4>
            </div>
          </div><!--End Icon Box -->

        </div>
      </div>
    </div>

    </div>
  </section>
  <!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>О нас</h2>
          <p>Мы предоставляем самые качественные и доступные курсы по языку программирования Python.</p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-6">
            <h3>О наших достижениях в цифрах</h3>
            <img src="static/home/images/about.jpg" class="img-fluid rounded-4 mb-4" alt="">
            <p>Мы гордимся нашими достижениями в обучении Python и вот некоторые впечатляющие цифры, которые подтверждают нашу репутацию:</p>
            <p><strong>10+ лет опыта:</strong> Мы успешно обучаем студентов Python уже более 10 лет, и наш опыт только растет.<br>
              <strong>5000+ довольных студентов:</strong> Более 5000 студентов завершили наши курсы и достигли значительных успехов в мире программирования.<br>
              <strong>95% уровень удовлетворенности:</strong> 95% наших студентов рекомендуют наши курсы своим друзьям и коллегам.<br>
              <strong>100+ проектов:</strong> Наши студенты создали более 100 успешных проектов, демонстрируя свои навыки и креативность.
            </p>
            <p>Эти цифры подтверждают нашу способность предоставить высококачественное обучение и поддержку, которые помогут вам достичь ваших целей в мире Python..</p>
          </div>
          <div class="col-lg-6">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Наша компания — это команда экспертов в области программирования, которые разработали идеальные курсы для вас. Наш опыт и страсть к Python позволяют нам обучать студентов всех уровней: от новичков до опытных разработчиков, стремящихся совершенствовать свои навыки.
              </p>
              <ul>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Профессионализм:</strong> Наша команда состоит из высококвалифицированных инструкторов, которые обладают глубоким знанием Python и опытом в обучении..</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Поддержка:</strong> Мы гарантируем поддержку на каждом этапе вашего обучения, готовы ответить на все ваши вопросы и помочь в преодолении сложностей.</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Результаты:</strong> Наши студенты достигают впечатляющих результатов и создают удивительные проекты после прохождения наших курсов. Вы тоже можете быть одним из них!</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Актуальность:</strong> Мы всегда следим за последними тенденциями и обновлениями в мире Python, чтобы наши курсы всегда оставались актуальными.</li>
                <li><i class="bi bi-check-circle-fill"></i> <strong>Больше чем курсы:</strong> Мы предлагаем дополнительные ресурсы, такие как вебинары, практические задания и доступ к эксклюзивным материалам, чтобы обеспечить полное и глубокое погружение в мир Python.</li>
              </ul>


              <div class="position-relative mt-4">
                <img src="static/home/images/about-2.jpg" class="img-fluid rounded-4" alt="">
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-out">

        <div class="section-header">
          <h2>Компании-клиенты</h2>
          <p>Наши курсы по Python получили признание и поддержку от множества ведущих компаний и организаций в индустрии информационных технологий и разработки программного обеспечения. Эти компании признали качество нашего обучения и выбрали нас в качестве партнера для развития навыков своих сотрудников в области Python программирования.</p>
        </div>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="static/home/images/clients/client-1.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-2.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-3.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-4.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-5.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-6.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-7.png" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="static/home/images/clients/client-8.png" class="img-fluid" alt=""></div>
          </div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 align-items-center">


          <div class="col-lg-6">
            <img src="static/home/images/stats-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-lg-6">

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Довольных клиентов</strong>которые успешно завершили наши курсы и достигли своих целей.</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Завершенных заказов</strong> на наши образовательные программы, что свидетельствует о доверии, которое нам оказывают наши студенты.</p>
            </div><!-- End Stats Item -->

            <div class="stats-item d-flex align-items-center">
              <span data-purecounter-start="0" data-purecounter-end="453" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Часа поддержки</strong> которые мы предоставили нашим студентам, помогая им решать технические вопросы и преодолевать сложности на пути к освоению Python.</p>
            </div><!-- End Stats Item -->

          </div>

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action" class="call-to-action">
      <div class="container text-center" data-aos="zoom-out">
        <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
        <h3>Обращение директора школы ImpactIT.</h3>
        <p> ImpactIT - место, где происходит великое преображение в мире информационных технологий. Миссия ImpactIT - вдохновлять, обучать и поддерживать студентов в достижении их целей в сфере программирования и IT. Школа стремится быть лучшей в своем роде, предоставляя доступ к актуальной информации, профессиональным преподавателям и разнообразным образовательным ресурсам.</p>
        <a class="cta-btn" href="#">Смотреть</a>
      </div>
    </section><!-- End Call To Action Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Наши услуги</h2>
          <p>Мы предоставляем широкий спектр обучающих услуг, включая начальные и продвинутые курсы по Python. Наши программы обучения созданы так, чтобы подходить как для новичков, так и для опытных разработчиков, желающих усовершенствовать свои навыки.</p>
        </div>

        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-activity"></i>
              </div>
              <h3>Nesciunt Mete</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-broadcast"></i>
              </div>
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-easel"></i>
              </div>
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bounding-box-circles"></i>
              </div>
              <h3>Asperiores Commodit</h3>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-calendar4-week"></i>
              </div>
              <h3>Velit Doloremque</h3>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-chat-square-text"></i>
              </div>
              <h3>Dolori Architecto</h3>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
              <a href="#" class="readmore stretched-link">Read more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Отзывы</h2>
          <p>Что говорят о нас наши студенты? Посмотрите отзывы и истории успеха наших учеников. Мы гордимся тем, как наши курсы помогли им достичь своих целей и реализовать свой потенциал.</p>
        </div>

        <div class="slides-3 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="static/home/images/testimonials/testimonials-1.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Saul Goodman</h3>
                      <h4>Ceo компании</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Курсы по Python от этой компании - это лучшее, что мне доводилось видеть. Инструкторы внимательно относятся к каждому студенту, и это делает процесс обучения максимально эффективным.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="static/home/images/testimonials/testimonials-2.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Sara Wilsson</h3>
                      <h4>Дизайнер</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Эти курсы - настоящее открытие для меня! Я никогда не думала, что смогу научиться программированию, но благодаря вашей команде инструкторов и понятным материалам смогла!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="static/home/images/testimonials/testimonials-3.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Jena Karlis</h3>
                      <h4>Владелец магазина</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Я начала с нуля, и сейчас, благодаря вашим курсам, могу с уверенностью сказать, что программирую на Python. Простой и понятный подход в обучении сделал этот путь легким.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="static/home/images/testimonials/testimonials-4.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>Matt Brandon</h3>
                      <h4>Фрилансер</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Курсы по Python от этой компании - это лучшее, что мне доводилось видеть. Инструкторы внимательно относятся к каждому студенту, и это делает процесс обучения максимально эффективным.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <div class="d-flex align-items-center">
                    <img src="static/home/images/testimonials/testimonials-5.jpg" class="testimonial-img flex-shrink-0" alt="">
                    <div>
                      <h3>John Larson</h3>
                      <h4>Разработчик ПО</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                    </div>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Я долго искал качественные курсы по Python, и могу с уверенностью сказать, что ваша компания не разочаровала. Полезный контент, практические задания и отличная поддержка - все, что нужно!
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Наша команда</h2>
          <p>Наши инструкторы - это настоящие эксперты в мире Python. Они горячо относятся к своей работе и готовы поделиться своими знаниями с вами. Узнайте больше о нашей команде и их опыте.</p>
        </div>

        <div class="row gy-4">

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <img src="static/home/images/team/team-1.jpg" class="img-fluid" alt="">
              <h4>Walter White</h4>
              <span>Веб-разработчик</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <img src="static/home/images/team/team-2.jpg" class="img-fluid" alt="">
              <h4>Sarah Jhinson</h4>
              <span>Маркетинг-менеджер</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <img src="static/home/images/team/team-3.jpg" class="img-fluid" alt="">
              <h4>William Anderson</h4>
              <span>Контент-менеджер</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <img src="static/home/images/team/team-4.jpg" class="img-fluid" alt="">
              <h4>Amanda Jepson</h4>
              <span>Бухгалтер</span>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Расценки</h2>
          <p>В этом разделе вы найдете информацию о ценах и расценках наших курсов по программированию на Python.</p>
        </div>

        <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Базовый курс</h3>
              <div class="icon">
                <i class="bi bi-box"></i>
              </div>
              <h4><sup>$</sup>26<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Освоите основы программирования на Python.</li>
                <li><i class="bi bi-check"></i> Изучите основные структуры данных и алгоритмы.</li>
                <li><i class="bi bi-check"></i> Создадите простые консольные приложения на Python.</li>
                <li class="na"><i class="bi bi-x"></i> <span>Получите сертификат об окончании курса.</span></li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Купить</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item featured">
              <h3>Продвинутый курс</h3>
              <div class="icon">
                <i class="bi bi-airplane"></i>
              </div>

              <h4><sup>$</sup>47<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Углубленное изучение Python, включая работу с объектно-ориентированным программированием.</li>
                <li><i class="bi bi-check"></i> Разработка веб-приложений с использованием фреймворков.</li>
                <li><i class="bi bi-check"></i> Работа с базами данных и API.</li>
                <li><i class="bi bi-check"></i> Проектная работа для практического опыта.</li>
                <li><i class="bi bi-check"></i> Получите сертификат об окончании курса.</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Купить</a></div>
            </div>
          </div><!-- End Pricing Item -->

          <div class="col-lg-4">
            <div class="pricing-item">
              <h3>Индивидуальные занятия</h3>
              <div class="icon">
                <i class="bi bi-send"></i>
              </div>
              <h4><sup>$</sup>65<span> / month</span></h4>
              <ul>
                <li><i class="bi bi-check"></i> Гибкий график обучения, составленный по вашим потребностям.</li>
                <li><i class="bi bi-check"></i> Один на один занятия с опытным инструктором.</li>
                <li><i class="bi bi-check"></i> Фокус на ваших уникальных целях и задачах.</li>
                <li><i class="bi bi-check"></i> Персонализированный подход к обучению.</li>
              </ul>
              <div class="text-center"><a href="#" class="buy-btn">Купить</a></div>
            </div>
          </div><!-- End Pricing Item -->

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4">
            <div class="content px-xl-5">
              <h3>Часто задаваемые <strong>вопросы</strong></h3>
              <p>
                В этом разделе мы ответим на наиболее часто задаваемые вопросы о наших курсах по программированию на Python.
              </p>
            </div>
          </div>

          <div class="col-lg-8">

            <div class="accordion accordion-flush" id="faqlist" data-aos="fade-up" data-aos-delay="100">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <span class="num">1.</span>
                    Какие уровни обучения вы предлагаете?
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Мы предлагаем курсы для всех уровней, включая начинающих, средних и продвинутых программистов. Вы можете выбрать программу обучения, которая наилучшим образом соответствует вашему текущему уровню навыков.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <span class="num">2.</span>
                    Какие преимущества вашего обучения на Python?
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Наши курсы разработаны профессионалами с опытом работы в индустрии. Мы предоставляем структурированные учебные материалы, практические проекты и поддержку инструкторов, чтобы обеспечить вам максимальное погружение в мир Python.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <span class="num">3.</span>
                    Сколько времени занимает прохождение курсов?
                  </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Продолжительность курсов может варьироваться в зависимости от выбранной программы. У нас есть как краткосрочные интенсивные курсы, так и долгосрочные программы. Вы можете выбрать оптимальное время обучения для вас.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <span class="num">4.</span>
                    Какая методика обучения используется в ваших курсах?
                  </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Мы используем комбинацию лекций, практических заданий и проектной работы. Это позволяет студентам получить не только теоретические знания, но и практический опыт, который они могут применить в реальных проектах.
                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <span class="num">5.</span>
                    Есть ли у вас сертификаты после окончания курсов?
                  </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body">
                    Да, после успешного окончания наших курсов вы получите сертификат, который подтверждает вашу квалификацию. Этот сертификат может быть полезным при поиске работы или продвижении в карьере.
                  </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Связаться с нами</h2>
          <p>Мы всегда будем рады ответить на ваши интересующие вопросы!</p>
        </div>

        <div class="row gx-lg-0 gy-4">

          <div class="col-lg-4">

            <div class="info-container d-flex flex-column align-items-center justify-content-center">
              <div class="info-item d-flex">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h4>Локация:</h4>
                  <p>A108 Адам Стрит, Нью-Йорк, НЮ 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h4>Емейл:</h4>
                  <p>info-impact@gmail.com</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-phone flex-shrink-0"></i>
                <div>
                  <h4>Позвонить:</h4>
                  <p>+1 5589 55488 55</p>
                </div>
              </div><!-- End Info Item -->

              <div class="info-item d-flex">
                <i class="bi bi-clock flex-shrink-0"></i>
                <div>
                  <h4>График работы:</h4>
                  <p>Пн-Сб: 11:00 - 23:00</p>
                </div>
              </div><!-- End Info Item -->
            </div>

          </div>

          <div class="col-lg-8">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Ваш емейл" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Заголовок" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="7" placeholder="Сообщение" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Загрузка</div>
                <div class="error-message"></div>
                <div class="sent-message">Ваше сообщение было отправлено. Спасибо!</div>
              </div>
              <div class="text-center"><button type="submit">Отправить</button></div>
            </form>
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  {% endblock %}


  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

</html>